.popular-tags .show-popular-terms,
.popular-tags .show-all-terms {
  margin-left: 0.5em; /* LTR */
}

.popular-tags .tag-terms .term {
  display: inline-block;
  margin-right: 0.6em; /* LTR */
}

.popular-tags .tag-terms .term.popular {
  font-weight: bold;
}

